<div class="container mt-5 mb-5">
    <h1 class="text-center" >About</h1>

    <!-- <img src="" width="100%"> -->

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vitae deleniti provident, necessitatibus omnis
        quibusdam iste nulla enim dolore sapiente, pariatur totam minus. Mollitia nulla voluptatem natus exercitationem
        accusantium ab.
        <br />

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ut consequuntur in eveniet quos numquam aliquam aliquid necessitatibus debitis optio doloribus facere voluptatum fugiat id tempore asperiores minus ab placeat adipisci deserunt, animi eius! Blanditiis soluta unde molestiae nulla iure recusandae est, harum dicta. Voluptates, distinctio dolorem. Incidunt, nihil consectetur.
        <br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, rerum labore. Incidunt rerum eaque ex ipsam nam iste corporis quis sint officiis, et aliquid, deserunt pariatur cupiditate. Mollitia suscipit, quia ut quae voluptatem officia ratione.
        <br/>

    </p>

</div>